@use '../base/palette' as p;

.bottom-menu {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  display: flex;

  height: 64px;
  background-color: white;
  border: 1px solid #f4f4f4;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;

  &__button {
    &:active {
      background-color: #e0e0e0;
    }

    flex: 1;
    cursor: pointer;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    transition: background-color 0.2s ease;
    font-size: 10px;

    &-text {
      user-select: none;
      color: #999;

      &-active {
        color: p.$primary-main;
      }
    }
  }
}

.contact {
  &s-container {
    height: calc(100% - 28px);
    overflow: scroll;
  }

  &-item {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 18px;

    &__profile {
      position: relative;
      border-radius: 100px;
      width: 56px;
      height: 56px;
      background-color: #f4f4f4;

      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__status {
      position: absolute;
      border-radius: 100px;

      width: 18px;
      height: 18px;
      border: 3px solid white;
      background-color: #4ee87c;
      bottom: 0;
      right: 0;
      transform-origin: -50% -50%;

      transition: all 0.2s ease;
    }

    &__name {
      font-size: 18;
      padding-left: 1rem;
    }
  }
}
