.text-field {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 12px;
  outline: none;
  border: none;
  padding: 1rem;
}

.searchbar {
  width: inherit;
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: white;
  padding-left: 6px;
  overflow: hidden;

  &-wrapper {
    width: inherit;
    padding: 1.5rem;

    display: flex;
    column-gap: 18px;
  }

  &-icon {
    flex-shrink: 0;
    height: 44px;
  }

  &-groupchat {
    cursor: pointer;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
  }

  &__input {
    outline: none;
    border: none;
    font-size: 12px;
    background-color: transparent;
    width: calc(100% - 60px);
    height: 32px;
    overflow: hidden;
  }
}
