@use 'constants';
@use 'palette';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: white;
  background-color: #737d22;
}

body,
button,
textarea,
input {
  font-family: 'Inter', sans-serif;
  outline: none;
  caret-color: palette.$primary-main;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

button,
label {
  font-size: 0.875rem;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: white;
  background-color: palette.$primary-main;
}

#root {
  width: inherit;
  height: inherit;
  min-width: 300px;
  min-height: 280px;
}
