.fullscreen {
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disablemousy {
  touch-action: none;
  pointer-events: none;
  user-select: none;
}

.fd-column {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.space-1rem > *:not(:first-child) {
  margin-top: 1rem;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.full-mwidth {
  min-width: 100%;
}
.full-mheight {
  min-height: 100%;
}

.parent-w {
  width: inherit;
}
.parent-h {
  height: inherit;
}

.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.roundy {
  border-radius: 100px !important;
}

.p-halfrem {
  padding: 0.5rem;
}
.p-1rem {
  padding: 1rem;
}
.p-1p5rem {
  padding: 1.5rem;
}
.p-2rem {
  padding: 2rem;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-primary {
  background-color: #2552f4;
}
.bg-grey {
  background-color: #f1f2f5;
}

.topbar {
  height: 92px;
}

.container {
  background-color: white;
  height: calc(max(280px, 100dvh) - 92px);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  box-shadow: 0 -0.5rem 1rem 0 rgba(0, 0, 0, 0.08);
}
.container-subtext {
  display: flex;
  align-items: flex-end;
  height: 28px;
  font-size: 12px;
  font-weight: bold;
  color: #999;
  padding-left: 18px;
}
.container-profile__image {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: red;
  position: relative;
  background-size: cover;
  background-position: center;
}
.container-profile__image::after {
  content: "";
  display: block;
  width: 100%;
  height: 128px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), white);
  position: absolute;
  bottom: 0;
}
.container-profile__statistics {
  transform: translateY(-86px);
  border-radius: 20px 20px 0 0;
  background-color: white;
  font-size: 12px;
  text-align: center;
  width: calc(100% - 4rem);
  margin: 0 auto;
  padding: 0 2rem;
  padding-top: 22px;
}
.container-profile__statistics-block {
  text-align: center;
  flex: 1;
}
.container-profile__statistics-block > h3 {
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(#2552f4, #16308e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-profile__statistics-block > p {
  font-size: 12px;
  font-weight: bold;
}
.container-profile__statistics__blocks {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.container-profile__edit {
  padding-left: 56px;
  transform: translateY(-48px);
}
.container-profile__edit-item {
  display: flex;
}
.container-profile__edit-item > .first {
  font-weight: bold;
  width: calc(100% - 4rem);
}
.container-profile__edit-item__value {
  width: calc(100% - 4rem);
  font-size: 2rem;
  display: inline-block;
  padding-right: 0.5rem;
}
.container-profile__edit-item__value input {
  padding: 0;
  outline: none;
  border: none;
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  color: #2552f4;
}
.container-profile__edit-item__button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: #5f80f9;
  transition: opacity 0.2s ease;
}
.container-profile__edit-item__button > p {
  font-size: 8px;
}
.container-profile__edit-item__button:active {
  opacity: 0.5;
}
.container-signout {
  padding-bottom: 1rem;
}
.container-signout__button {
  cursor: pointer;
  border: none;
  background-color: #2552f4;
  color: #fafafa;
  padding: 1rem;
  border-radius: 100px;
  width: calc(100% - 6rem);
  transition: background-color 0.2s ease;
}
.container-signout__button:active {
  background-color: #16308e;
}

.chat {
  height: max(100dvh, 280px);
}
.chat-textfield {
  position: absolute;
  bottom: 0;
  background-color: white;
  border: 1px solid #f4f4f4;
  width: 100%;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  column-gap: 1rem;
  max-height: calc(100% - 80px);
}
.chat-textfield__textfield {
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 24px;
  width: 100%;
  overflow: scroll;
}
.chat-textfield__textfield > textarea {
  border: none;
  resize: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 14px;
}
.chat-textfield__submit {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: block;
  flex-shrink: 0;
  height: 48px;
  aspect-ratio: 1/1;
  transition: transform 0.2s ease;
}
.chat-textfield__submit:active {
  transform: scale(0.8);
}
.chat-content {
  padding: 1rem;
  overflow: scroll;
  height: calc(100% - 80px);
  padding-bottom: 98px;
}
.chat-content-item {
  display: flex;
  column-gap: 12px;
}
.chat-content-item:not(:first-child) {
  margin-top: 1rem;
}
.chat-content-item__profile {
  flex-shrink: 0;
  height: 48px;
  aspect-ratio: 1/1;
  background-color: grey;
  border-radius: 100px;
}
.chat-content-item__balloon {
  padding: 0.75rem;
}
.chat-content-item__balloon-text {
  font-size: 12px;
}
.chat-content-item__balloon-timestamp {
  text-align: right;
  font-size: 10px;
}
.chat-content-item__balloon-timestamp[data-role=dark] {
  color: #999;
}
.chat-content-item[data-role=member] > .chat-content-item__balloon {
  background-color: white;
  border-radius: 0 20px 20px 20px;
}
.chat-content-item[data-role=me] {
  display: flex;
  justify-content: flex-end;
}
.chat-content-item[data-role=me] > .chat-content-item__balloon {
  background-color: white;
  border-radius: 20px 0 20px 20px;
  font-weight: 520;
  background: linear-gradient(#2552f4, #224ada);
  color: white;
}
.chat-content-item__divider {
  position: relative;
  margin-top: 1rem;
  border-top: 1px solid #c0c0c0;
  color: #c0c0c0;
  font-size: 10px;
}
.chat-content-item__divider-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f2f5;
  padding: 0.5rem;
}
.chat-topbar {
  background-color: #2552f4;
  padding: 0 1rem;
  height: 80px;
}
.chat-topbar-content {
  display: flex;
  align-items: center;
  row-gap: 12px;
  color: white;
}
.chat-topbar__goback {
  cursor: pointer;
  flex-shrink: 0;
  width: 48px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
}
.chat-topbar__profile {
  flex-shrink: 0;
  width: 48px;
  aspect-ratio: 1/1;
  background-color: grey;
  border-radius: 100px;
  overflow: hidden;
  border: 4px solid #2552f4;
  box-sizing: content-box;
  font-size: 24px;
}
.chat-topbar__profile-texts {
  padding-left: 12px;
}
.chat-topbar__profile-texts__name {
  font-weight: bold;
  font-size: 18px;
}
.chat-topbar__profile-texts__status {
  font-weight: lighter;
  font-size: 12px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: white;
  background-color: #737d22;
}

body,
button,
textarea,
input {
  font-family: "Inter", sans-serif;
  outline: none;
  caret-color: #2552f4;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

button,
label {
  font-size: 0.875rem;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: white;
  background-color: #2552f4;
}

#root {
  width: inherit;
  height: inherit;
  min-width: 300px;
  min-height: 280px;
}

.text-field {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 12px;
  outline: none;
  border: none;
  padding: 1rem;
}

.searchbar {
  width: inherit;
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: white;
  padding-left: 6px;
  overflow: hidden;
}
.searchbar-wrapper {
  width: inherit;
  padding: 1.5rem;
  display: flex;
  column-gap: 18px;
}
.searchbar-icon {
  flex-shrink: 0;
  height: 44px;
}
.searchbar-groupchat {
  cursor: pointer;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
}
.searchbar__input {
  outline: none;
  border: none;
  font-size: 12px;
  background-color: transparent;
  width: calc(100% - 60px);
  height: 32px;
  overflow: hidden;
}

.blank-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.active-button {
  transition: opacity 0.2s ease;
}
.active-button:active {
  opacity: 0.5;
}

.bottom-menu {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  height: 64px;
  background-color: white;
  border: 1px solid #f4f4f4;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.bottom-menu__button {
  flex: 1;
  cursor: pointer;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  transition: background-color 0.2s ease;
  font-size: 10px;
}
.bottom-menu__button:active {
  background-color: #e0e0e0;
}
.bottom-menu__button__secondary {
  background-color: #2552f4;
}
.bottom-menu__button__secondary:active {
  background-color: #16308e;
}
.bottom-menu__button-text {
  user-select: none;
  color: #999;
}
.bottom-menu__button-text-active {
  color: #2552f4;
}
.bottom-menu__button-text-bright {
  color: #f4f4f4;
}

.contacts-container {
  height: calc(100% - 28px);
  overflow: scroll;
}
.contact-divider {
  flex-shrink: 0;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.contact-item {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 18px;
  border-bottom: 1px solid transparent;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}
.contact-item:hover {
  border-bottom: 1px solid #f4f4f4;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.06);
}
.contact-item:active {
  background-color: #fafafa;
  box-shadow: none;
}
.contact-item-texts {
  width: 100%;
  max-width: 100%;
  padding: 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.contact-item-datetime {
  white-space: nowrap;
  height: 56px;
  font-size: 12px;
  color: #d9d9d9;
}
.contact-item__profile {
  flex-shrink: 0;
  position: relative;
  border-radius: 100px;
  width: 56px;
  height: 56px;
  background-color: #f4f4f4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-item__status {
  position: absolute;
  border-radius: 100px;
  width: 18px;
  height: 18px;
  border: 3px solid white;
  background-color: #4ee87c;
  bottom: 0;
  right: 0;
  transform-origin: -50% -50%;
  transition: all 0.2s ease;
}
.contact-item__name {
  font-size: 18px;
}
.contact-item__recentchat {
  font-size: 12px;
  color: #999;
}

.auth-button {
  outline: none;
  border: 1px solid #204ce9;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #2552f4;
  color: #f4f4f4;
  box-shadow: 0 12px 32px 2px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.auth-button:active {
  transform: translateY(2px);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.auth-button__textButton {
  cursor: pointer;
  font-size: 12px;
  color: white;
  user-select: none;
}
